{% extends "layout.twig" %}

{% block navbar %}
    {% include "navbar.twig" %}
{% endblock %}


{% block content %}
    <div class="container topp">
        <div class="row mb-4">              
            {% for comment in comments %}
                <div class="col-md-12 mx-auto mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-uppercase">{{comment.title}}</h5>
                        <div class="ml-3">
                            <h6 class="card-title font-weight-bold text-uppercase mt-4 mb-2">Comment to valide</h6>
                            <div class=" d-flex justify-content-between">
                                <p class="mr-3 text-muted">{{comment.content}}</p>
                                                      
                            </div>
                            <hr>
                            <div class=" d-flex float-right">
                                <form class="" method="post" action='/admin/comments'>
                                    <input id="commentId" name="commentId" type="hidden" value="{{comment.commentId}}">
                                    <button  type="submit" name="submit" value="validateComment" class="submit"><i class="stylo fas fa-check text-success"></i></button>
                                    <a href="" data-toggle="modal" data-target="#confirmModal2" data-whatever="{{comment.commentId}}"><i class="trash fas fa-trash" ></i></a>                      
                                </form>
                            </div> 
                                                    
                        </div>            
                    </div>
                </div>
            </div>             
            {% endfor %}        
        </div>
    </div>
    {% include "modalConfirm2.twig" %}
{% endblock %}


