{% block whatIDo %}
    <!-- Services Section Start -->
    <section id="services" class="services section-padding">
      <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Skills</h2>
      <div class="container">
        <div class="row">
          <!-- Services item -->
          <div class=" mb-4 mx-auto">
            <div class="services-item wow fadeInDown rounded-circle" data-wow-delay="0.3s">              
              <img src="/assets/img/skills/html5.png" width="80px" alt="">             
            </div>
          </div>
          <!-- Services item -->
          <div class=" mb-4 mx-auto">
            <div class="services-item wow fadeInDown rounded-circle" data-wow-delay="0.3s">              
              <img src="/assets/img/skills/css3.png" width="80px" alt="">             
            </div>
          </div>
          <!-- Services item -->
          <div class=" mb-4 mx-auto">
            <div class="services-item wow fadeInDown rounded-circle" data-wow-delay="0.3s">              
              <img src="/assets/img/skills/javascript.png" width="80px" alt="">             
            </div>
          </div>
          <!-- Services item -->
          <div class=" mb-4 mx-auto">
            <div class="services-item wow fadeInDown rounded-circle" data-wow-delay="0.3s">              
              <img src="/assets/img/skills/php.png" width="80px" alt="">             
            </div>
          </div>
          <!-- Services item -->
          <div class=" mb-4 mx-auto">
            <div class="services-item wow fadeInDown rounded-circle" data-wow-delay="0.3s">              
              <img src="/assets/img/skills/symfony.png" width="80px" alt="">             
            </div>
          </div>
          <!-- Services item -->
          <div class="mb-4 mx-auto">
            <div class="services-item wow fadeInDown rounded-circle" data-wow-delay="0.3s">              
              <img src="/assets/img/skills/node-js.png" width="80px" alt="">             
            </div>
          </div>
          <!-- Services item -->
          <div class="mb-4 mx-auto">
            <div class="services-item wow fadeInDown rounded-circle" data-wow-delay="0.3s">              
              <img src="/assets/img/skills/vuejs.png" width="80px" alt="">             
            </div>
          </div>
          <!-- Services item -->
          <div class="mb-4 mx-auto">
            <div class="services-item wow fadeInDown rounded-circle" data-wow-delay="0.3s">              
              <img src="/assets/img/skills/react.png" width="80px" alt="">             
            </div>
          </div>
          
          
        </div>
      </div>
    </section>
    <!-- Services Section End -->
{% endblock %}